$yellow: rgb(242, 230, 51);
$green: rgb(0, 255, 56);

body {
    background-color: $yellow;
    margin: 0;
    height: 100%;
}

main {
    height: 100%;
}

html {
    height: 100%;
}

header {
    margin: 0;
    padding: 0;
    background-color: black;
    display: flex;
    height: 100%;
    overflow: auto;
    padding-top: 2em;
    margin-right: 16px;

    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 3;

    h1 {
        margin: 0;
        color: white;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 0.3em;
        padding-top: 0.5em;
        writing-mode: vertical-lr;
        text-orientation: upright;
    }
}

.page-1-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 50% 50%;
    height: 100%;
    margin-right: 16px;
}

// Common style for all grid items
.page-1-container > div {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    overflow: hidden;
}

.page-title {
    grid-column-start: 2;
    grid-column-end: 6;
    grid-row-start: 1;
}

.intro {
    grid-column-start: 6;
    grid-column-end: 13;
    grid-row-start: 1;
    grid-row-end: 1;
}

.lettuce-img {
    grid-column-start: 2;
    grid-column-end: 7;
    grid-row-start: 2;
    background-color: black;
}

.lettuce-img img {
    width: auto;
    height: 100%;
}

.lettuce-text {
    grid-column-start: 7;
    grid-column-end: 13;
    grid-row-start: 2;
}