header {
    h1 {
        font-size: 2em;
    }
}

.intro, .lettuce-text {
    font-size: 1.75em;
    padding: 22px;
}

.image-gallery {
    height: 16em;
}

form {
    label {
        font-size: 1.8em;
    }
    input {
        width: 8em;
    }
    .button-cancel, .button-request {
        width: 6em;
    }
}

.contact-info .text {
    font-size: 0.8em;
}