header {
    display: flex;
    justify-content: space-between;
    background-color: black;
    color: white;
    flex-direction: column;
    
    h1 {
        margin: 0;
        align-self: center;
    }
}



.page1 {

}