@import '_reset';

@import '_normalize';

@media screen and (min-width: 320px) and (max-width: 1079px) {
  @import '_mobile';
}


@media screen and (min-width: 1080px) {
  @import '_desktop';
}

$yellow: rgb(242, 230, 51);
$green: rgb(0, 255, 56);

body {
  background-color: yellow;
  font-family: 'Jockey One', 'Roboto Condensed';
}


.page-title {
  background-color: black;
  color: white;
  text-transform: uppercase;
}


.intro {
  background-color: black;
  color: $green;
}

.lettuce-img {
  background-color: black;
}


.lettuce-text {
  background-color: white;
  color: rgb(185, 112, 238);

  p span {
    color: black;
    text-transform: uppercase;

    img {
      display: inline;
      height: 1em;
    }
  }
}

.food {
  text-transform: uppercase;
}

.menu-item-new,
.menu-item-vegan,
.menu-item-popular {
  font-family: 'Courier New', Courier, monospace;
  text-transform: uppercase;
}
 
.menu-item-new {
  background-color: rgb(185, 112, 238);
  display: inline-block;
  padding: 0 12px;
  transform: rotate(-3deg);
  span {
    display: block;
    transform: rotate(3deg);
  }
}
 
.menu-item-vegan {
  background-color: $green;
  display: inline-block;
  padding: 0 12px;
  transform: rotate(-3deg);
  span {
    display: block;
    transform: rotate(3deg);
  }
}

.menu-item-popular {
  background-color: $yellow;
  display: inline-block;
  padding: 0 12px;
  transform: rotate(-3deg);
  span {
    display: block;
    transform: rotate(3deg);
  }
}

.page-3-container {
  background-color: white;
}

